@model List<BlankSpace.ViewModels.Notice>

<p class="h2" style="text-align:center;">Notice List<br /><div style="border-bottom:1px solid #686868"></div> </p>

@if (TempData["msg"] != null)
{
    <div class="alert alert-info text-center" role="alert">
        <button type="button" class="close" aria-label="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
        </button>
        @TempData["msg"]
    </div>
}
<table class="table table-striped table-responsive">
    <thead>
        <tr>
            <th class="h3">
                Serial No
            </th>
            <th class="h3">
                Date
            </th>
            <th class=" h3 ">
                Notice
            </th>
            <th class=" h3  ">
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td class=" h4  ">@item.NoticeId</td>
                <td class=" h4  ">@item.NoticeDate</td>
                <td class=" h4  ">@item.NoticeName</td>

                <td class=" h4  ">
                    <a asp-action="UpdateNotice" asp-controller="Notice" asp-route-id="@item.NoticeId"><i class="fa fa-pencil-square-o" style="font-size:25px;color:green"></i></a>
                    &nbsp;&nbsp;&nbsp;
                    <a asp-action="NoticeDetails" asp-controller="Notice" asp-route-id="@item.NoticeId"><i class="fa fa-info-circle" style="font-size:25px;color:dodgerblue"></i></a>
                    &nbsp;&nbsp;&nbsp;
                    <a asp-action="DeleteNotice" asp-controller="Notice" asp-route-id="@item.NoticeId"><i class="fa fa-trash" style="font-size:25px;color:red"></i></a>

                </td>
            </tr>
        }
    </tbody>
</table>